<div class="cart__row ca-cart">
    <div class="grid errors ca-errors" style="display:none">
        <div class="grid__item one-whole">
            Please fill this out and you will be able to check out.
        </div>
    </div>
    <div class="grid ca-attrs">
            </div>
</div>