<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="grid grid--no-gutters">

      
    </div>

    <div class="grid grid--no-gutters">
      

      <div class="grid__item text-center">
        <div class="site-footer__copyright">
          
          <small class="site-footer__copyright-content">© 2017 TILLIVERY . 719-470-6046 . <a href="mailto:info@tillivery.com">Info@Tillivery.com</a>&nbsp;&nbsp;<a href="https://www.instagram.com/tillivery/" target="_blank" rel="noopener noreferrer"><img src="//cdn.shopify.com/s/files/1/1837/8723/files/socialmedia_instagram.png?v=1491081488" style="position:relative; top:6px;" alt=""></a>&nbsp;&nbsp;<a href="https://www.facebook.com/Tillivery/" target="_blank" rel="noopener noreferrer"><img src="//cdn.shopify.com/s/files/1/1837/8723/files/socialmedia_facebook.png?v=1491081581" style="position:relative; top:6px;" alt=""></a>&nbsp;</small>
      
          
          
        </div>
      </div>
    </div>
    
    
  </div>
</footer>