<div class="page-width">    
    <div class="text-center">
      <h1 class="text-center">Thank You! We've Received Your Order</h1>
<!--       <h4>Your order number is: {{ customer.last_order.order_number }}</h4> -->
    </div>
    <div class="grid__item medium-up--one-half">
      <div class="order-thanks text-center">
        <h2>When will I get my order?</h2>
        <p>The TILLIVERY order you just placed will be delivered next week on your delivery day. Our driver will put your fresh food in your TILLIVERY cooler (along with ice packs) to keep food chilled for up to 12 hours.</p>
      </div>
    </div>
    <div class="grid__item medium-up--one-half">
      <div class="order-thanks text-center">
        <h2>How does billing work?</h2>
        <p>Please expect to see TILLIVERY charges every Thursday. If you have any questions, please contact us at 719-470-6046 or <a href ="mailto:info@TILLIVERY.com">info@tillivery.com</a>.</p>
      </div>
    </div>  
</div>