






<div class="page-container drawer-page-content" id="PageContainer">






  <div id="shopify-section-1492143466948" class="shopify-section index-section index-section--flush"><div class="hero hero--large hero__overlay" style="background-image: url(https://cdn.shopify.com/s/files/1/1837/8723/files/Pork-Green-Chili-Gnocci.jpg?5750283978486473637;); background-position: center center;">

    <div class="hero__inner">
      <div class="page-width text-center">

        <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/onthemenu.png?477706137455052865">


        <div class="rte-setting mega-subtitle"></div>


      </div>
    </div>
    </div>


  </div>

  <form action="https://tillivery.com/cart/add" data-productid="10174384524" method="post" enctype="multipart/form-data" class="product-form product-form-product-template" data-section="product-template">
    <div><div></div>




      <h1 style="text-align:center;"> What we're cooking now</h1>

      <p style="text-align:center; color:#000;">Get family-style entrees, soup, salad & signature sourdough bread delivered to you each week <br>... or choose a la carte, for a minimum order of $49.99/week!</p>


      <p align="center">To select your weekly menu items, you must first login or sign up.</p>


      <div style="text-align:center;"> <a href="https://tillivery.com/pages/waitlist"><span> SIGN UP</a>  |</span>  <a href="https://tillivery.com/account/login"><span> LOG IN</span></a></div>

      <div style="text-align:left; width: 380px; ; margin: 0 auto;">

      </div>


      <hr class="style3">




      <main class="main-content" id="MainContent" role="main" style="margin-top:-50px;">





        <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;"> 
          <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/Vegetable-Lasagna2.jpg?2371814795482038702" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
          <p class="menu_title">VEGETABLE LASAGNA</p>
          <p> Tender roasted eggplant, zucchini, bell pepper, green onion & ricotta layered in homemade lasagna noodles & smothered in rich marinara sauce.  </p>




          </div>
          <div class="tooltip2">Ingredients
            <span class="tooltiptext2"> House Made Pasta, Eggplant, Zuchinni, Bell Peppers, Green Onions, Marinara, Ricotta Cheese</span>
          </div>
          <div style="text-align:center;"><div class="vegetarian"></div></div>
        </div>

        <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;">
          <a href="https://tillivery.com/pages/waitlist">   <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/Pork-Green-Chili-Gnocci3.jpg?4907849530667998348" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
          <p class="menu_title">GREEN CHILI GNOCCHI</p>
          <p>Chef Gerry's authentic, mildly spicy pork green chili envelops perfect pillows of house-made gnocchi, fresh potato pasta. This richly flavored, unexpected dish is 100% addictive. </p>

          </div>
          <div class="tooltip2">Ingredients
            <span class="tooltiptext2">Pork, Potato Gnocchi, Flour, Butter, Green Chilis, Onion, Garlic, Cumin, Cayenne</span>
          </div>
        </div>

        <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;">
          <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/Enchelatas_2.jpg?12324290174259287051" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
          <p class="menu_title">TOMATILLO CHICKEN ENCHILADAS</p>
          <p>Stone-ground corn tortillas stuffed with shredded free-range chicken, onions, authentic salsa verde & cheddar cheese. Organic sour cream on the side. </p>

          </div>

          <div class="tooltip2">Ingredients
            <span class="tooltiptext2">Chicken, Arbol Chiles, Tomatillo, Cheddar, Sour Cream, Onions, Cumin, Dark Chili Powder</span>
          </div>
          <div style="text-align:center;"><div class="gluten_free"></div></div>
        </div>






        <div style="height:140px; clear:both;">
        </div>






        <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;"> 
          <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/beefstew.jpg?2943068011888214679" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
          <p class="menu_title">SLOW-COOKED BEEF STEW</p>
          <p>Inspired by Chef Gerry’s grandmother’s recipe, this hearty, savory beef stew is loaded with local root vegetables & a touch of velvety butter.</p> 

          </div>

          <div class="tooltip2">Ingredients
            <span class="tooltiptext2">Beef, Onions, Celery, Carrots, Flour, Red Wine, Bay Leaves, Chicken Stock, Butter, Parsley, Thyme, Salt and Pepper</span>
          </div>

        </div>

        <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;">
          <a href="https://tillivery.com/pages/waitlist">   <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/couscous.jpg?18355157916834609715" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
          <p class="menu_title">COUSCOUS RISOTTO</p>
          <p>An enlightened version of the traditional Italian rice dish, our “risotto” features pearl-like couscous pasta—the perfect backdrop for rich, Parmesan-cheesy flavors.</p>
          </div>
          <div class="tooltip2">Ingredients
            <span class="tooltiptext2">Cous Cous, Garlic, Onion, Vegetable Stock, Parmesean Cheese</span>
          </div>
          <div style="text-align:center;"><div class="vegetarian"></div></div>
        </div>

        <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/salmon_6080d45e-dc68-4c2b-92d3-c91498abed57.jpg?8900766089015887025" style="position: relative; overflow: hidden;">
          <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/salmon_6080d45e-dc68-4c2b-92d3-c91498abed57.jpg?8900766089015887025" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
          <p class="menu_title">POACHED SALMON</p>
          <p>Wild-caught salmon gently poached in white wine served atop a medley of perfectly roasted spring vegetables.</p>

          </div>

          <div class="tooltip2">Ingredients
            <span class="tooltiptext2">Salmon, Seasonal Vegetables, Salt and Pepper</span>
          </div>
          <div style="text-align:center;"> <div class="gluten_free"></div></div>
        </div>

        </div>   </div>   </div>


  <div style="height:40px; clear:both;">
  </div>






  <div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/placeholder.jpg?2973850153167893716" style="position: relative; overflow: hidden;">
    <a href="https://tillivery.com/pages/waitlist">   <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/asparagus.jpg?4370723192190342746" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
    <p class="menu_title">CREAM OF ASPARAGUS SOUP</p>
    <p>Tender spring asparagus roasted & blended with onion, garlic, vegetable stock & a touch of farm-fresh cream.  </p>

    </div>
    <div class="tooltip2">Ingredients
      <span class="tooltiptext2">Asparagus, Cream, Onion, Garlic, Vegetable Stock, Salt and Pepper</span>
    </div>
    <div style="text-align:center;"> <div class="vegetarian"></div></div>
  </div>

  <div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/placeholder.jpg?2973850153167893716" style="position: relative; overflow: hidden;">
    <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/lentil.jpg?6215043327832072435" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
    <p class="menu_title">GREEN LENTIL SOUP</p>
    <p>Hearty green lentils simmered with onion, potatoes, carrots, garlic & cilantro in TILL Kitchen’s house-made vegetable stock. </p>

    </div>
    <div class="tooltip2">Ingredients
      <span class="tooltiptext2">Green Lentils, Potatoes, Onion, Garlic, Celery, Carrots, Vegetable Stock, Cilantro</span>
    </div>
    <div style="text-align:center;"><div class="vegan"></div><div class="vegetarian"></div></div>
  </div>

  <div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/kale_a2bd3b94-638a-4291-9949-c46cc52b894b.jpg?15156766795286975371" style="position: relative; overflow: hidden; text-align:left;">
    <a href="https://tillivery.com/pages/waitlist">   <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/kale_7ea02b6e-4527-4884-bc4c-90bd480d323c.jpg?15614720192229752923"></a>
    <p class="menu_title" style="margin-top:-10px;">ROASTED KALE SOUP</p>
    <p>A TILLIVERY favorite, this healthy roasted kale soup gets its seductively silky texture mostly from puréed local potatoes, with just a bit of fresh local cream. Try it, you’ll love it! </p>

    </div>
    <div class="tooltip2">Ingredients
      <span class="tooltiptext2">Kale, Garlic, Onions, Potatoes, Cream, Vegetable Stock</span>
    </div>
    <div style="text-align:center;"><div class="vegetarian"></div></div>
  </div>

  <div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/placeholder.jpg?2973850153167893716" style="position: relative; overflow: hidden;">
    <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/rivollita.jpg?6562616886650861236" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
    <p class="menu_title">CASTRO'S RIBOLLITA</p>
    <p>Chef Gerry Castro's family recipe. Italian sausage & thick-cut bacon simmered with vegetables & beans in house-made chicken stock & finished with fresh spinach & kale.</p>
    </p>

  </div>
  <div class="tooltip2">Ingredients
    <span class="tooltiptext2">Chicken stock, Italian sausage, bacon, bread, onion, garlic, carrots, celery, kale, spinach, oil, salt, pepper   </span>
  </div>
</div>




<div style="height:40px; clear:both;">
</div>










<div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/mixedgreen.jpg?5388237912896530802" style="position: relative; overflow: hidden;">
  <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/mixedgreen.jpg?5388237912896530802" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
  <p class="menu_title">ORGANIC MIXED GREEN SALAD</p>
  <p>Fresh, organic greens from local One Town Organic Farm. Smooth sherry vinaigrette on the side.</p>

  </div>
  <div class="tooltip2">Ingredients
    <span class="tooltiptext2">Organic Mixed Green Salad With Sherry Vinaigrette</span>
  </div>
  <div style="text-align:center;"><div class="vegetarian"></div> <div class="vegan"></div><div class="gluten_free"></div><div class="dairy_free"></div></div>
</div>

<div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/beet.jpg?5388237912896530802" style="position: relative; overflow: hidden;">
  <a href="https://tillivery.com/pages/waitlist">  <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/beetsalad.jpg?12033885470465477449" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
  <p class="menu_title">ROASTED BEET SALAD</p>
  <p>Local mixed greens topped with sweet oven-roasted beets & fresh goat cheese. Tangy apple cider vinaigrette on the side.</p>

  </div>
  <div class="tooltip2">Ingredients
    <span class="tooltiptext2">Beets, goat cheese, apple cider viniagrette</span>
  </div>
  <div style="text-align:center;"><div class="vegetarian"></div><div class="gluten_free"></div></div>
</div>

<div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/placeholder.jpg?2973850153167893716" style="position: relative; overflow: hidden;">
  <a href="https://tillivery.com/pages/waitlist">   <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/choppedsalad.jpg?12965220747719756380" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
  <p class="menu_title">CHOPPED VEGETABLE SALAD</p>
  <p>Mix of fresh local lettuces, asparagus, baby carrots, baby beets, cherry tomatoes & feta cheese. Green Goddess dressing on the side.
  </p>

  </div>
  <div class="tooltip2">Ingredients
    <span class="tooltiptext2">Chopped salad, asparagus, baby carrots, baby beets, cherry tomatoes, feta cheese. Green Goddess dressing: parsley, green onion, avocado, lemon juice, tarragon. </span>
  </div>
  <div style="text-align:center;"> <div class="vegan"></div><div class="vegetarian"></div><div class="gluten_free"></div><div class="dairy_free"></div></div>
</div>

<div class="grid__item medium-up--one-quarter"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/placeholder.jpg?2973850153167893716" style="position: relative; overflow: hidden;">
  <a href="https://tillivery.com/pages/waitlist">   <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/grain.jpg?6147935867269813686" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled"></a>
  <p class="menu_title">GRAIN & BLACK WILD RICE SALAD</p>
  <p>Savory, sweet, pleasingly chewy mix of barley, black wild rice, raisins, craisins & almonds. Delicious lemon dressing on the side. </p>

  </div>
  <div class="tooltip2">Ingredients
    <span class="tooltiptext2">Barley, Black Wild Rice,Raisins, Craisins, Almonds, Lemon Dressing</span>
  </div>
  <div style="text-align:center;"><div class="vegan"></div><div class="vegetarian"></div><div class="gluten_free"></div><div class="dairy_free"></div></div>
</div>





<div style="clear:both; height:40px;"></div>
<div style="margin-bottom:40px;text-align:center; border-radius:10px;font-size:1.5em;padding:10px 0px 0px 0px; "><label class="spb-productdescfont spb-productdesctextcolor" style="color:#d9670e;">SIGNATURE SOURDOUGH LOAF</label><p style="font-size:15px">Baked fresh at TILL Kitchen the morning of your delivery </p></div>


<div class="grid__item"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="https://cdn.shopify.com/s/files/1/1837/8723/files/placeholder.jpg?2973850153167893716" style="position: relative; overflow: hidden;">
  <a href="https://tillivery.com/pages/waitlist"> <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/sourdough.jpg?8016748975975573860" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled" style="width:400px;"></a>
  <br/>
  <p style="text-align:center;">Included with your TILLIVERY, our signature sourdough loaf is crafted from premium King Arthur Sir Galahad unbleached flour & locally foraged wild yeast.</p>

  </div>
  <div class="tooltip2"style="margin-bottom:180px;">Ingredients
    <span class="tooltiptext2">Sir Galahad Bread Flour, Water, Salt, Naturally Occurring Yeast</span>
  </div>



  <a href="https://tillivery.com/pages/waitlist"> <div class="signup_button" style="margin-top:-50px;"></div></a>


</div>





</div>




</div>





</div>




</div>








<p align="center">To select your weekly menu items, you must first <a href="https://tillivery.com/account/login">LOG IN or </a><a href="https://tillivery.com/pages/waitlist">SIGN UP.</a></p>



















</div>




</div>




</div>

</div>



</div>





</div>




</div>

