<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  

       


    
  <div class="page-container drawer-page-content" id="PageContainer">
    
    
    
  
    
 <div id="shopify-section-1492143466948" class="shopify-section index-section index-section--flush"><div class="hero hero--large hero__overlay" style="background-image: url(https://cdn.shopify.com/s/files/1/1837/8723/files/cookiebanner.jpg?4612391596539813717;); background-position: center center;">
  
  <div class="hero__inner">
    <div class="page-width text-center">
      
        <h1 class="mega-title slideshow__title mega-title--large">Have a sweet tooth?</h1>
      
      <span class="mega-subtitle slideshow__subtitle mega-subtitle--large">Try our bakery fresh chocolate chip cookies<ul><li class="material-icons" style="letter-spacing:-17px;">star_ratestar_ratestar_ratestar_rate</li></ul></span>
      
      
    </div>
  </div>
</div>


</div>
    
    
     <div class="page-width">
        <div class="section-header text-center" style="margin-bottom:30px;">
         <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/addons.png?4364876904127531320">
         
        </div>
         
          <form action="https://tillivery.com/cart/add" data-productid="10462131276" method="post" enctype="multipart/form-data" class="product-form product-form-product-template" data-section="product-template">
         
       
         
         
         
          <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;">
        <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/couscous.jpg?18355157916834609715" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled">
   <p class="menu_title">Couscous Vegetable Risotto</p>
   <p>Healthy, great mid-week meal. If you're someone who likes the chewiness of brown rice over white, or similarly, if you prefer the texture of chewy grains like barley, you may prefer this to the traditional arborio rice or risotto rice. Couscous Vegetable Risotto is healthy, satisfying and tasty!</p>
  </div>
     <div class="tooltip2">Ingredients
  <span class="tooltiptext2">Cous Cous, Garlic, Onion, Vegetable Stock, Parmesean Cheese</span>
</div>
              
                  <div style="margin-bottom:40px;text-align:center; border-radius:10px;font-size:1.5em;padding:10px 0px 20px 0px; "><label class="spb-productdescfont spb-productdesctextcolor" style="color:#d9670e;">SELECT QUANTITY</label><p style="font-size:15px">4 servings</p><span><div class="spb-select">
      <select class="spb-productdescfont spb-productoptiontextcolor spb-productoptionbackground" required name="properties[COOKIES]">
        <option value="Select One">Select One</option><option value="1">1</option>
        <option value="2">2</option>
      <option value="3">3</option></select></div></span></div>
              
              <span class="product-price__price product-price__price-product-template">
                <span id="ProductPrice-product-template" itemprop="price" content="3.5">
                  $3.50
                </span>
         
    </div>
         
          <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;">
        <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/couscous.jpg?18355157916834609715" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled">
   <p class="menu_title">Couscous Vegetable Risotto</p>
   <p>Healthy, great mid-week meal. If you're someone who likes the chewiness of brown rice over white, or similarly, if you prefer the texture of chewy grains like barley, you may prefer this to the traditional arborio rice or risotto rice. Couscous Vegetable Risotto is healthy, satisfying and tasty!</p>
  </div>
     <div class="tooltip2">Ingredients
  <span class="tooltiptext2">Cous Cous, Garlic, Onion, Vegetable Stock, Parmesean Cheese</span>
</div>
    </div>
         
          <div class="grid__item medium-up--one-third"><div id="FeaturedImageZoom-product-template" class="product-single__photo product-single__photo--has-thumbnails" data-zoom="//cdn.shopify.com/s/files/1/1837/8723/products/vegetable-lasagna-web_1024x1024@2x.jpg?v=1491258360" style="position: relative; overflow: hidden;">
        <img src="https://cdn.shopify.com/s/files/1/1837/8723/files/couscous.jpg?18355157916834609715" alt="Tillivery Box" id="FeaturedImage-product-template" class="product-featured-img js-zoom-enabled">
   <p class="menu_title">Couscous Vegetable Risotto</p>
   <p>Healthy, great mid-week meal. If you're someone who likes the chewiness of brown rice over white, or similarly, if you prefer the texture of chewy grains like barley, you may prefer this to the traditional arborio rice or risotto rice. Couscous Vegetable Risotto is healthy, satisfying and tasty!</p>
  </div>
     <div class="tooltip2">Ingredients
  <span class="tooltiptext2">Cous Cous, Garlic, Onion, Vegetable Stock, Parmesean Cheese</span>
</div>
    </div>
         
         
         
         
         
       <select name="id" data-productid="10462131276" id="ProductSelect-product-template" data-section="product-template" class="product-form__variants no-js">
              
                
                  <option selected="selected" value="38592467020">
                    Default Title
                  </option>
                
              
            </select>

            

         <div class="product-form__item product-form__item--submit" style="text-align:center; margin-top:70px;">
            <a href="https://tillivery.com/cart"> <button type="submit" name="add" id="AddToCart-product-template" class="btn product-form__cart-submit product-form__cart-submit--small" style="display:inline; padding:10px; background-color:#d85e00;">
                <span id="AddToCartText-product-template"style="display:inline; padding:10px; background-color:#d85e00;" >
       
                  <input type="submit" id="add-to-cart" class="btn_orange" name="add" value="REVIEW ORDER" style="display:inline; padding:10px; background-color:#d85e00;">
                  <input type="hidden" name="return_to" value="/cart" />

       
      
 
               </span>
              </button>
            </div>
       
              
              
              
            </div>
          </form>
       
       


        <div class="product-single__description rte" itemprop="description">
          
  

      
      
      
      
           
        </div>

        


        

    
          <p class="product-single__price product-single__price-product-template">
   
              <s id="ComparePrice-product-template" class="hide"></s>
              <span class="product-price__price product-price__price-product-template">
                <span id="ProductPrice-product-template" itemprop="price" content="3.5">
                  $3.50
                </span>
            
              </span>
            
          </p>

          <form action="https://tillivery.com/cart/add" data-productid="10410268876" method="post" enctype="multipart/form-data" class="product-form product-form-product-template" data-section="product-template"> 
 
                <div class="selector-wrapper js product-form__item">
                  <label for="SingleOptionSelector-0">
                    AMOUNT
                  </label>
                  <select class="single-option-selector single-option-selector-product-template product-form__input" id="SingleOptionSelector-0" data-index="option1">
                    
                      <option value="1" selected="selected">1</option>
                    
                      <option value="6">6</option>
                    
                  </select>
                </div>
            <select name="id" data-productid="10410268876" id="ProductSelect-product-template" data-section="product-template" class="product-form__variants no-js">
                  <option selected="selected" value="38962426892">
                    1
                  </option>
                  <option value="38154585420">
                    6
                  </option>
            </select>

            <div class="product-form__item product-form__item--submit">
              <div class="product-form__item product-form__item--submit" style="text-align:center">
              <button type="submit" name="add" id="AddToCart-product-template" class="btn_orange product-form__cart-submit product-form__cart-submit--small" style="display:inline;">
                <span id="AddToCartText-product-template">
       
                  <input type="submit" id="add-to-cart" class="btn_orange" name="add" value="Add to cart">
                  <input type="hidden" name="return_to" value="collections/tillivery-add-ons">

       
      
 
               </span>
              </button>
            </div>
       
              
              
              
            </div>
          </form>

        </div>



        
      </div>
    </div>
  </div>
</div>


  <



</div>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: "Add to cart",
    soldOut: "Sold out",
    unavailable: "Unavailable"
  }
</script>

    </main>

       